/*.bgimg {
	background-image: url("/img/download.jpeg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.landbg {
	background-image: url("http://4.bp.blogspot.com/-6_OnPvLUHYc/UfvhZFhV4AI/AAAAAAABo_A/dPVGyhynV9c/s1600/detective+kids+costume.jpg");
	-webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
}

/*.button-large {
	width: 300px;
	margin-left: 30px;
}*/

/*.title{
	position: absolute;
	top: 20px;
	width: 100%
}*/

/*.top {
	margin-top: 120px;
	margin-bottom: 40px;
}*/

.content {
	margin-top: 90px;
	margin-bottom: 40px;
}

h1 {
	color: black;
}
.myHunts{
	background-image: url("/img/download.jpeg");
 border-radius: 25px;
 height:100px;
 margin-left:5px;
 margin-right:8px;
	margin-top:5px;
	border-width:1px;
	border-style:solid;
	border-color:black;
	text-align: center;
	/*background-color:rgb(215, 216, 218);*/
	margin-bottom:3px;
}

/*.title{
	padding-top:30px;
	font-family:fantasy;
}*/
