<ion-view view-title="Admin">
	<ion-content>
		<ion-list>
			{{tasks}}
			<ion-select ng-click="setLevel">
				<option value="0">Any</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</ion-select>
			<input type="text" name="directions" ng-model="directions">
		</ion-list>
		<ion-table>
			{{players.progress}}
		</ion-table>
		<ion-option-button class="button-assertive" ng-click="invite">
			Invite Users
		</ion-option-button>
		<ion-option-button class="button-assertive" ng-click="remove">
			Remove Users
		</ion-option-button>
	</ion-content>
</ion-view>
