<ion-view title="alert-view">
	<!-- <app-header></app-header>
	<app-subheader></app-subheader> -->
	<ion-content class="content">
		<div style="text-align:center;">
      <h2>Added successfully!</h2>
			<div class="button-bar">
				<button style="width:80%;" class="button button-large button-calm" ng-click="AC.$state.go('huntmaster-view', {hunt_id: AC.hunt_id})">return to Home Page</button>
      </div>
      <div>
				<button style="width:80%;" class="button button-large button-balanced" ng-click="AC.$state.go('new-task', {hunt_id: AC.hunt_id})">Add Another Task</button>
			</div>
    </div>
  </ion-content>
	<!-- <app-footer></app-footer> -->
</ion-view>
