<!-- name of the hunt  -->

<!-- name/description of task to be edited-->
<!-- xp value to be edited-->
<!-- prerequisite level to be edited-->
<!-- isUnique to be edited-->
<!-- description of location for the task to be edited-->
<!-- expiration time to be edited-->

<!-- Button to save changes to task post request and return to hunt -->

<ion-view title="edit-task" class="edit-task">
	<ion-content>
    <a href="/#/user"><i class="icon ion-ios-home"></i></a>
		<h1 style="font-size:60px;margin-left:28%;color:blue;">Find.It</h1>
		<ion-footer-bar align-title="left" class="bar-light">
		  <div class="button-bar">
				<a href="/login" class="button button-calm"><h3>Log In</h3></a>
		    <a href="/register" class="button button-calm"><h3>Sign Up</h3></a>
		  </div>
		</ion-footer-bar>
  </ion-content>
</ion-view>
