<ion-view title="edit-hunt" class="bgimg" cache-view="false">
	<app-header></app-header>
	<app-subheader></app-subheader>
	<ion-content class="content">
		<div class="list list-inset">

			<h3><!-- current name of the hunt --></h3>

			<label class="item item-input">
				<input type="text"  ng-model="EHC.HuntTitle" ng-value="EHC.hunttoedit[0].name">
			</label>
		</div>
		<div class="list list-inset">
			<h3><!-- current expiration date --></h3>
			<label class="item item-input">
				<input type="date"  ng-value="EHC.hunttoedit[0].name" ng-model="EHC.ExpirationDate">
			</label>
		</div>

		<hr>
		<div>
			<h3 style="text-align:center;">Current Tasks:</h3>
			<ul style="text-align:center;">
				<li ng-repeat="task in EHC.tasks">
					<button class="button button-small button-assertive" ng-click="EHC.delete(task.id)" style = "margin-bottom: 1px;width:60%;"> delete {{task.name}} </button>
				</li>
			</ul>
		</div>
		<div>

			<h3 style="text-align:center;"> Current Users: </h3>
			<div class="row" style="text-align:center;">
				<div class="col" ng-repeat="user in EHC.users">
				<button class="button button-small button-energized" ng-click="EHC.deleteUser(user.id)" style = "margin-bottom: 1px;"> uninvite <br> {{user.username}} </button>
			</div>
		</div>

		</div>

		<div class="card" ng-repeat="user in EHC.allUsers | filter: {username: EHC.searchText}" ng-show="EHC.searchText.length > 0">

      <div class="item item-avatar" ng-hide="user.id===EHC.currentUserId">
        <img ng-src="{{user.avatar}}" style="height:120px; width:auto">
        <h3>{{user.username}}</h3>
        <div class="item item-divider">
          <button class="button button-block button-balanced" name="add" ng-click="user.marked = true; EHC.addUser(user.id); EHC.searchText='';EHC.usersToAdd.push(user.username)">Add</button>
          <i class="icon ion-checkmark-round" ng-show="user.marked">Added!</i>
        </div>
      </div>
    </div>
		<ul>
			<h4>Users to add:</h4>
			<li ng-repeat="username in EHC.usersToAdd">
				<h4>{{username}}</h4>
			</li>
		</ul>

		<label class="item item-input">
			<input type="text" ng-model="EHC.searchText" placeholder="Search By Username">
		</label>
		<div class="button-bar">
			<!-- Button to add task to hunt, leads to hunt view -->
			<!-- button to submit creation and redirect to user -->
			<button class="button button-large button-balanced" name="submitHunt" ng-click="EHC.EditHunt(EHC.HuntTitle, EHC.ExpirationDate); EHC.HuntTitle=''; EHC.ExpirationDate=''">Submit</button>
		</div>
		<button style="margin-top:10px" class="button button-large button-balanced" ng-click="EHC.goback()"> back </button>

	</ion-content>
	<app-footer></app-footer>

</ion-view>
