<ion-view title="login" class="bgimg">
  <div class="title" style="text-align: center">
    <a href="/#/"><i class="icon ion-ios-home"></i></a>
    <h1>Log In</h1>
    <hr>
  </div>
  <ion-content class="top">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="lic.username" placeholder="Username">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="lic.email" placeholder="Email">
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="password" ng-model="lic.password" placeholder="Password">
      </label>
    </div>
    <button class="button button-large button-positive" ng-click="lic.login(lic.username, lic.password)">Submit</button>

  </ion-content>
</ion-view>
