<ion-view title="new-task" class="bgimg">
  <app-header></app-header>
  <app-subheader></app-subheader>
  <!-- name of the hunt  -->
  <ion-content class="content">
    <h1>{{ ATC.hunt.name }}</h1>
    <form name="newTaskForm" ng-submit="ATC.newTask(ATC.task, hunt); ATC.$state.go('huntmaster-view', {hunt_id: ATC.hunt.id})">
      <div class="list list-inset">
        <!-- name of the task and description -->
        <label class="item item-input">
          <input type="text" placeholder="Task Title" ng-model="ATC.task.name" required>
        </label>
      </div>
      <div class="list list-inset">
        <!-- xp value -->
        <label class="item item-input">
          <input type="number" placeholder="XP Value" ng-model="ATC.task.xp" required>
        </label>
      </div>
      <div class="list list-inset">
        <!-- prerequisite level -->
        <label class="item item-input">
          <input type="number" placeholder="XP Required" ng-model="ATC.task.level_available" required>
        </label>
      </div>
      <!-- isUnique -->
      <h3 style="width:80%;margin:0;float:left;">Is Task Unique?</h3>
      <label class="toggle">
        <input type="checkbox" ng-model="task.unique" ng-init="ATC.task.unique=false">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>

      <!-- Button to add task(s) -->
      <input type="submit" class="button button-large button-positive" name="submitTask" value="Add To Hunt" ng-disabled="newTaskForm.$invalid">
    </form>
    <!-- button to return to user page -->
    <button class="button button-large button-assertive" ng-click="ATC.$state.go('huntmaster-view', {hunt_id: ATC.hunt.id})">View Hunt</button>
  </ion-content>
  <app-footer></app-footer>

</ion-view>
