<!-- will take user id -->

<ion-view title="new-hunt" class="bgimg">
	<app-header></app-header>
	<app-subheader></app-subheader>
	<ion-content class="top">
		<div class="list list-inset">
			<!-- name for the hunt -->
      <label class="item item-input">
        <input type="text" placeholder="Hunt Name">
      </label>
    </div>
    <div class="list list-inset">
			<!-- expiraton date for the hunt -->
      <label class="item item-input">
        <input type="date" placeholder="Expiration Date">
      </label>
    </div>
		<div class="list list-inset">
			<!-- select to add hunter(s) -->
			<label class="item item-input">
				<input type="text" name="searchfield" placeholder="Invite Players">
				<ul class="list-group" ng-repeat="user in HC.getusers">
					<!-- list using ng-filter showing users available by name, with avatar -->
					  <li class="list-group-item">{{user.username}}{{user.avatar}}</li>

				</ul>
			</label>
		</div>
		<!-- button to submit creation and redirect to user -->
		<button class="button button-block button-balanced" name="submitHunt" ng-click="">Submit</button>
	</ion-content>
	<app-footer></app-footer>

</ion-view>
