<ion-view title="register" class="bgimg" cache-view="false">
  <app-header></app-header>
    <ion-content class="content">
      <form  name="registerForm" ng-submit="SUC.signUp(SUC.username, SUC.password, SUC.email, SUC.picture.avatar, SUC.phone); SUC.username=''; SUC.password=''; SUC.email=''; SUC.phone=''; SUC.avatar;">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="SUC.username" placeholder="Username" required>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" ng-model="SUC.password" placeholder="Password" required>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" ng-model="SUC.email" placeholder="Email" required>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="phone" ng-model="SUC.phone" placeholder="Phone" required>
        </label>
      </div>
      <div class="list list-inset">
          <input type="text" ng-model="SUC.picture.avatar" placeholder="Avatar URL" required>
          <!-- "display: none" -->
        <button class="button button-large " ng-click="SUC.takeProfilePicture()">Take Profile Picture</button>
      </div>
      <input type="submit" class="button button-large button-positive" ng-disabled="registerForm.$invalid">
    </form>
    </ion-content>
    <app-footer></app-footer>

</ion-view>
