<ion-view title="user">
  <!-- <app-header></app-header>
  <app-subheader></app-subheader> -->
  <ion-content class="content">
    <div ng-repeat="hunt in HC.myHunts">
      <div ng-click="HC.$state.go('hunter-view',{hunt_id:hunt.id })">
        <h1>{{ hunt.name }}</h1>
      </div>
    </div>
      <h1> Master: </h1>
    <div ng-repeat="mas in HC.myMaster">
        <div ng-click="HC.$state.go('huntmaster-view', {hunt_id : mas.id})">

        <h2> {{ mas.name}} </h2>

      </div>
    </div>

    <button class="button button-large button-balanced" ng-click="HC.$state.go('new-hunt')"> Add a hunt </button>
    </ion-content>


  <app-footer></app-footer>


</ion-view>
